*{
  transition: .5s;
}
h2{
  color: #001a49;
}
.img-fluid{
  width: 80%;
}
.icon {
  background-color: #e9327c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
}
.icon i {
  font-size: 55px;
  padding-top: 15px;
  color: white;
}

.input-field {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid #001a49;
}

.input-field:focus {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid #e9327c;
  box-shadow: none;
}

.link{
  color: #e9327c;
}
.link:hover{
  color: #001a49;
}
.btn-primary-login{
  background-color: #e9327c;
  color: white;
  width: 100%;
}
.btn-primary-login:hover{
  background-color: #001a49;
  color: white;
  width: 100%;
}

@media (max-width: 767px) {
  .hide {
    display: none;
  }
  .icon {
    background-color: #e9327c;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    margin: auto;
  }
  .icon i {
    font-size: 35px;
    padding-top: 15px;
    color: white;
  }
}
